/**@@PROJET@@**/
#projets {
	background-color: transparent;
}

#projets > li{
    background-color: transparent;
    box-shadow: 0 0.3vmin 0.4vmin 0.05vmin rgba(0,0,0,0.4);
}


/**@@PROGRESS BARS@@**/
.ui-progressbar {
	background-color: #e9ebee;
    
    filter: drop-shadow(0 0vmin 0.6vmin rgba(0,0,0,0.35));
}

.ui-progressbar-value {
	background-color: hsl(136, 84%, 40%);/*#3c3f41*/
    box-shadow: -0.3vmin 0 0.8vmin 0.1vmin rgba(0,0,0,1); /*x y blur disp col*/
}