.membre{
    width:calc(95vw / 3 - 1vmin);/*le -1vmin = hotfix tout moisi mais ça marche*/
    height:95vh;
}


.chibi{
    width:calc(20vw * 0.8);
    height:calc(20vw * 0.8);

    top:calc((95vh - (20vw * 0.8)) / 2);
    left:calc(((95vw / 3) - (20vw * 0.8)) / 2);
    
    margin-bottom:2vw;
    
    border-radius: calc(20vw * 0.8);
}

.software_icon {
    width:calc((95vw / 3) / 5);
    height:auto;
    top:auto;
	bottom:calc((95vh - (20vw * 0.8)) / 2);
}

.SI_un{
    left:calc((95vw / 9) / 2);
    right:auto;
}

.SI_deux {
	right:calc((95vw / 9) / 2);
    left:auto;
}