/**@@VARIABLES@@**/
:root{
    --MOBILE-section-title-fontSize: 7vmin;
    --MOBILE-section-text-fontSize: 5vmin;
    --MOBILE-sommaire-max-width: 80vw;
    --MOBILE-wiki-width: 25vw;
    --MOBILE-infobox-width: 80vw;
    --MOBILE-infobox-fontSize: 5vmax;
    --MOBILE-infobox-marginLeft: calc(  (var(--wiki-innerWidth) - var(--MOBILE-infobox-width    )) / 2 - var(--wiki-padding-w) - var(--wiki-padding-w));
}


img#wiki-logo{
    width: var(--MOBILE-wiki-width);
}


h1.section_title{
    font-size: var(--MOBILE-section-title-fontSize);
}

p.text{
    font-size: var(--MOBILE-section-text-fontSize);
}

h3.sommary-title{
    font-size: calc(var(--MOBILE-section-title-fontSize) * 0.9);
}

div.summary{
    width:auto;
    max-width: var(--MOBILE-sommaire-max-width);
    padding: var(--wiki-padding-w);
    margin-left: calc((100% - var(--MOBILE-sommaire-max-width)) / 2 - var(--wiki-padding-w));
}

h3.summary-title{
    width:auto;
    max-width: var(--MOBILE-sommaire-max-width);
    height:auto;
    
    word-wrap: break-word;
    
    margin-bottom: var(--wiki-padding-w);
}

ul.main-summary{
    width:auto;
    max-width: var(--MOBILE-sommaire-max-width);
    height:auto;
    
    margin-left: calc(var(--wiki-padding-w) * 3);
}



div.section-infobox{
    width:calc(var(--MOBILE-infobox-width) - (6 * var(--wiki-padding-w)));
}

div.section-infobox > div.infobox{
    width:calc(var(--MOBILE-infobox-width) - var(--wiki-padding-h) - var(--wiki-padding-h));
    padding:var(--wiki-padding-h) var(--wiki-padding-w);
    
    clear:both;
    float: none;
    
    margin-left: var(--MOBILE-infobox-marginLeft);
}

div.section-infobox > div.complement{
    width: calc(100% - var(--MOBILE-infobox-width));
    
    clear:both;
    float: none;
}

.infobox > h3.infobox-title{
    font-size: var(--MOBILE-infobox-fontSize);
}


.infobox > img{
    width:calc(100% - var(--wiki-padding-w) - var(--wiki-padding-w));
    border-radius: 2vmin;
    height:auto;
}