body{
    background-color:#e9ebee;
    color:#3c3f41;
}
body#ludwig{
    background-color: #05b8e6;
}
body#fabien{
    background-color: #3545c1;
    color:#252728;
}
body#romain{
    background-color: #ff0649;
    color:#000;
}


div#chibi{
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 0.8vmin 0.4vmin rgba(0,0,0,0.4);
}


#descrption, #titre, #desc1, #desc2 {
    text-shadow: 0 0 0.4vmin rgba(0,0,0,0.4);
}

#sw1, #sw2{
    filter: drop-shadow(0 0 0.8vmin rgba(0,0,0,0.4));
}